* {
  box-sizing: border-box;
}

.container {
  width: 411px;
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;
  position: relative;
}
section {
  padding-bottom: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  border: none;
}

ul,
ol {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #22343d;
}

.section-titels {
  /* font-size: 32px; */
  margin-bottom: 16px;
}

.text-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.content-text {
  line-height: 1.62;
}

input:focus,
input:hover {
  outline: transparent;
}

/* ======header====== */

.heading {
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}

.heading .container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
}
.logo-link {
  display: flex;
  align-items: center;
  /* gap: 16px; */
  gap: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  padding: 17px 0;
  /* margin-right: 237px; */
}
.logo-img {
}
.nav-list {
  /* display: flex;
  gap: 30px; */
  display: none;
}
.nav-list-item {
}

.heading-list-btn {
  /* display: flex;
  margin-left: auto;
  gap: 21px; */
  display: none;
}
.list-btn-item {
}

.mob-manu-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 58px;
  top: 19px;
}
.mob-manu-btn-icon {
  stroke-width: 3px;
  stroke: #173a56;
}

/* ===== HERO SECTION ====== */

.hero-section .container {
  display: flex;
  justify-content: space-between;
}

.container-hero {
  padding: 112px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  max-width: 452px;
}
.hero-text {
  font-size: 18px;
  line-height: 1.56;
  max-width: 465px;
  padding-top: 18px;
  padding-bottom: 45px;
}

.hero-btn-list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.hero-btn {
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  color: #fff;
}

.icon-play {
  fill: #02897a;
  margin-right: 8px;
}

.hero-link {
  width: 164px;
  font-weight: 600;
  text-decoration: underline;
  color: #02897a;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img {
  margin-left: auto;
}

/* ===== Feature section ====== */

.feature-title {
  text-align: center;
  margin: 0 auto;
  width: 539px;
  margin-bottom: 50px;
}

.feature-section {
  padding-bottom: 50px;
}

.feature-list {
  display: flex;
  gap: 30px;
}

/*  ширину рахує з падінгами */
.feature-list-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.feature-icon-container {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  fill: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.green {
  background-color: #02897a;
}

.blue {
  background-color: #4d8dff;
}

.hart {
  background-color: #740a76;
}

.red {
  background-color: #f03e3d;
}

.feature-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}
.feature-text {
  margin-bottom: 26px;
}
.feature-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
  margin: 50px auto;
}

/* ===== Management section ===== */

.management-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.management-container {
  width: 486px;
  padding-right: 45px;
}

.management-title {
}

.management-text {
  margin-bottom: 30px;
  text-align: left;
}
.management-text,
.management-item-text {
  line-height: 1.62;
  text-align: left;
}
/* .management-list */
.management-list-item:not(:last-child) {
  margin-bottom: 25px;
}
.management-subtitle {
  font-weight: 600;
  line-height: 1.62;
  margin-bottom: 12px;
}
.management-img {
  margin-left: auto;
}

/* ====== customer-support-section */

.customer-support-section .container {
  display: flex;
  align-items: center;
}
.customer-support-container {
  margin-left: auto;
  width: 450px;
}
.customer-support-img {
}
.customer-support-text-title {
}
.text-title {
}
.customer-support-title {
}
.customer-support-text {
  margin-bottom: 30px;
}
.customer-support-list {
  width: 450px;
}
.customer-support-item:not(:last-child) {
  margin-bottom: 25px;
}
.customer-support-item-text {
}
.customer-support-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding-right: 40px;
}

.support-icon-container {
  border: 3px solid #fff;
  border-radius: 14px;

  width: 35px;
  height: 35px;
  fill: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.orange {
  background-color: #f90;
}

/* ===== collaborative section */

.collaborative-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collaborative-container {
  width: 486px;
}
.collaborative-text-title {
}
.text-title {
}
.collaborative-title {
}
.collaborative-text {
  margin-bottom: 30px;
}

.collaborative-list {
}
.collaborative-list-item:not(:last-child) {
  margin-bottom: 25px;
}
.collaborative-subtitle {
  margin-bottom: 12px;
}
.collaborative-img {
}

/* ===== i can section ===== */

.i-can-section .container {
  width: 956px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.i-can-title {
  text-align: center;
}
.section-titels {
}
.i-can-text {
  font-weight: 500;
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.i-can-list {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 25px 100px;
  margin-bottom: 50px;
}

.i-can-item:nth-child(2) {
  flex-direction: row-reverse;
}

.i-can-item:nth-child(3) {
  flex-direction: row-reverse;
}

.i-can-item {
  fill: #fff;
  width: calc((100% - 100px) / 2);
  display: flex;
  /* flex-direction: row; */
  gap: 10px;
  /* justify-content: space-between; */
  align-items: center;
}
.i-can-img {
}
.i-can-item-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  fill: #fff;
  width: 242px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  border-radius: 30px;
  padding: 13px;
}
.i-can-btn {
  display: block;
  width: 216px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
}

/* ===== article section ===== */

.article-section {
}

.article-title {
  font-size: 34px;
  margin-bottom: 10px;
}
.section-titels {
}
.article-text {
  font-weight: 500;
  width: 465px;
  margin-bottom: 40px;
}
.article-list {
  display: flex;
  gap: 30px;
}
.article-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #dedede;
  border-radius: 8px;
}
.article-img {
  margin-bottom: 24px;
}
.article-dates {
  line-height: 1.75;
  padding-left: 24px;
  margin-bottom: 12px;
}

.article-dates-wrapper {
  font-weight: 700;
}

.article-subtitle {
  font-size: 24px;
  line-height: 1.67;
  padding-left: 27px;
  padding-right: 27px;
  text-align: left;
  margin-bottom: 40px;
}

.article-subtitle.accent {
  color: #02897a;
}

/* ====== price section ====== */

.price-section {
  padding-top: 71px;
}

.price-title {
  font-size: 34px;
  text-align: center;
  margin-bottom: 10px;
}

.price-text {
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

.price-list {
  display: flex;
  justify-content: space-between;
  gap: 72px;
}

.price-list-item {
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 8px;
  width: calc((100% - 144px) / 3);
  padding: 32px 72px;
  text-align: center;
}

.price-list-item:nth-child(2) {
  background-color: #02897a;
  color: #fff;
}

.price-list-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
}
.text-for-price {
  line-height: 2.5;
  margin-bottom: 16px;
}

.price-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.period-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4px;
}

.price {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
  margin-right: 7px;
}
.currency {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.price-period {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
  text-align: justify;
}

.white-accent {
  color: #fff;
}
.subscribe-price-list {
}
.subscribe-items {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: 0.01em;
}
.price-btn {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #02897a;
  border-radius: 8px;
  min-width: 139px;
  min-height: 44px;
}

.price-btn.white-accent {
  background-color: #fff;
  color: #02897a;
}

/* ===== reviews section =====*/

.reviews-title {
  line-height: 1.78;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 10px;
}

.reviews-text {
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 537px;
}

.reviews-list {
  display: flex;
  gap: 64px;
}
.reviews-list-items {
  width: calc((100% - 128px) / 3);
  padding: 28px 26px;
  border: 1px solid #dedede;
  border-radius: 5px;
}
.reviews-items-text {
  line-height: 1.75;
  letter-spacing: 0.01em;
  padding-right: 5px;
  padding-left: 1px;
  color: #737373;
  margin-bottom: 16px;
  width: 275px;
}

.stars-list {
  display: flex;
  gap: 3px;
  margin-bottom: 16px;
}
.stars-list-item {
}
.star-reviews {
  fill: #f3cd03;
}

.star-reviews.stroke-star {
  fill: none;
  stroke: #f3cd03;
}

.client-data {
  display: flex;
  gap: 14px;
}

.client {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
.reviews-client-photo {
}
.reviews-client-name {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.reviews-client-position {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: #252b42;
}

/* ====== advertising section ====== */

.advertising-section .container {
  border-radius: 32px;
  width: 1008px;
  background-color: #02897a;
  display: flex;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advertising-wrapper {
  padding-left: 31px;
}
.advertising-text {
  padding-top: 49px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #fff;
  width: 510px;
  margin-bottom: 46px;
}
.advertising-btn {
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  margin-bottom: 46px;
}

.advertising-img {
}

/* ====== footer ===== */

.footer {
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  gap: 0;
}
.footer-links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 146px;
}
.footer-logo-link {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  width: 178px;
  display: inline-flex;
  align-items: center;
  padding-bottom: 18px;
}
.footer-logo {
  margin-right: 16px;
}
.social-media-list {
  display: flex;
  justify-content: space-between;
  min-width: 152px;
  gap: 16px;
}
.social-media-item {
  width: 40px;
  height: 40px;
  background-color: #edfffc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-link {
}
.social-media-icon {
  stroke: #02897a;
  fill: transparent;
}

.footer-resource-wrapper {
  margin-right: 153px;
}

.footer-stuff-wrapper {
  margin-right: 83px;
}

.footer-subtitle {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.footer-list {
}
.footer-item {
}
.footer-item-text {
  line-height: 2.19;
}
.footer-form {
  min-width: 325px;
}
.footer-form-text {
  width: 280px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.form-field {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  height: 48px;
  background-color: #fff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding: 10px 42px 10px 43px;
  cursor: pointer;
}

.form-field::placeholder {
  line-height: 1.75;
  color: #02897a;
}
.input-wrapper {
  position: relative;
}

.user-phone {
}

.phone-icon {
  fill: #02897a;
  position: absolute;
  top: 10px;
  left: 12px;
}
.footer-btn {
  font-weight: 700;
  color: #fff;
  width: 131px;
  height: 39px;
  background-color: #02897a;
  border-radius: 4px;
}
.green-btn {
}
.foter-terms {
  text-align: center;
  line-height: 1.875;
  width: 395px;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* ====custumer page ===== */

.customer-section-titles {
  text-align: center;
  font-size: 34px;
}

/* ======clients-section====== */
.clients-section {
  padding-top: 100px;
  padding-bottom: 117px;
}

.clients-section-title {
  font-size: 40px;
  margin-bottom: 50px;
}
.clients-section-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.clients-section-item {
}
.clients-section-img {
}

/* ===== Why Choose Product section */

.benefits-section {
  padding-top: 24px;
  padding-bottom: 68px;
  background-color: #f5f5f5;
}
.container {
}
.benefits-section-title {
  margin-bottom: 50px;
}

.benefits-section-list {
  display: flex;
  gap: 30px;
}
.benefits-section-list-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #dedede;
  border-radius: 10px;
  padding-top: 32px;
  padding-bottom: 34px;
}

.benefits-section-icon-container {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  width: 50px;
  height: 50px;
  fill: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.benefits-section-icon {
}

.benefits-section-sutitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 16px;
}
.benefits-section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6875;
  letter-spacing: 0.01em;
  text-align: center;
  margin-left: 38px;
  margin-right: 37px;
}

/* ===== product-flow-section  ===== */

.product-flow-section {
  padding-top: 101px;
  padding-bottom: 115px;
}

.product-flow-section .container {
  width: 1067px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.product-flow-section-title {
  margin-bottom: 73px;
}

.product-flow-section-list {
  margin-bottom: 78px;
}
.product-flow-section-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-flow-section-item:nth-child(even) {
  flex-direction: row-reverse;
}

.product-flow-section-item:not(:last-child) {
  margin-bottom: 100px;
}

.product-flow-section-img.first-step {
  margin-right: 89px;
}
.product-flow-step-wrappper {
  width: 438px;
}

.product-flow-section-step {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.product-flow-section-subtitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}
.product-flow-section-text {
  line-height: 1.75;
  padding-right: 40px;
}

.connection-btn {
  border-radius: 8px;
  padding: 11px 18px;
  color: #fff;
  background-color: #02897a;
  display: block;
  margin: 0 auto;
}

/* ====== join-section ======= */

.join-section {
  padding-top: 35px;
  padding-bottom: 45px;
  background-image: linear-gradient(
    180deg,
    #f5f5f5 0%,
    rgba(245, 245, 245, 0) 100%
  );
}
.container {
}
.join-section-title {
  font-style: 32px;
  max-width: 537px;
  margin: 0 auto;
  margin-bottom: 93px;
}
.customer-section-titles {
}
.join-element-wrapper {
}
.join-section-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 16px;
  text-align: center;
}

.join-icon-wrapper {
  border-radius: 100px;
  padding: 30px 20px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px;
  translate: 25%;
}

.join-icon-wrapper.activity {
  background-color: #ffefef;
}

.join-icon-wrapper.chart {
  background-color: #f2f6ff;
}

.join-element-container {
  display: flex;
  gap: 227px;
  justify-content: center;
}

.join-section-list {
  text-align: center;
}
.join-section-item {
  margin-bottom: 10px;
}
.join-item-text {
  font-size: 18px;
  line-height: 1.78;
}
.join-section-link {
  font-weight: 500;
  line-height: 1.75;
  color: #000;
}

/* ====== customer-advertising-section ======== */

.customer-advertising-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.customer-input {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

/* ====== desktop ======== */

@media screen and (min-width: 768px) and (max-width: 1050px) {
  .heading-list-btn {
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1150px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  .section-titels {
    margin-bottom: 25px;
  }

  .heading {
    box-shadow: none;
    background: #fff;
  }

  .logo-link {
    gap: 16px;
    margin-right: 237px;
  }

  .nav-list {
    display: flex;
    gap: 30px;
  }

  .nav-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    display: block;
    padding: 26px 0;
  }

  .active-nav-link {
    font-weight: 600;
  }
  .mob-manu-btn {
    display: none;
  }

  .heading-list-btn {
    display: flex;
    margin-left: auto;
    gap: 21px;
  }
  .btn-in {
    font-weight: 600;
    color: #173a56;
    width: 105px;
    height: 42px;
    background-color: #fff;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
  }
  .btn-out {
    width: 113px;
    height: 42px;
    border-radius: 4px;
    background-color: #02897a;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }
}
